.contenido {
    display: grid;
    align-items: center;
    gap: 5rem;
}

@media (min-width: 768px) {
    .contenido {
        grid-template-columns: 3fr 2fr;
    }
}

.carrito {
    padding: 3rem 0;
}

.resumen {
    background-color: rgba(181, 181, 216, 0.439);
    padding: 3rem;
    border-radius: 1rem;
}